{% extends 'base-template.html' %}
{% load static %}

{% block content %}

<div class="container mx-auto my-5 mainsection" id="accountlogin">
    <div class="row">

        <div class="col-6 pt-2 d-flex border border-bottom-0 justify-content-center tbgbkg">
            <h5>Sign In</h5>

        </div>
        <div class="col-6 pt-2 d-flex border border-left-0 justify-content-center">
            <a href="{% url 'account_signup' %}">
                <h5>Register</h5>
            </a>
        </div>

    </div>
    <div class="row border border-top-0 justify-content-center tbgbkg h5">

        <form class="login my-3 w-75 needs-validation" method="POST" action="{% url 'account_login' %}" novalidate>
            {% csrf_token %}
            {% for form in form %}
            {% if form.label == 'Password' %}
            <div class="form-group">
                <label for="password">{{form.label}}</label>
                <input type="password" class="form-control" name="password" placeholder="Password"
                    autocomplete="current-password" required="" id="id_password">
                <div class="invalid-feedback">
                    Please key in your password.
                </div>
            </div>
            {% elif form.label == 'Remember Me' %}
            <div class="d-flex flex-column form-group form-check">
                <label for="remember">{{form.label}}</label>
                <input type="checkbox" class="form-check-input" name="remember" id="id_remember">
            </div>
            {% else %}
            <div class="form-group">
                <label for="login">{{form.label}}</label>
                <input type="text" class="form-control" name="login" placeholder="Username or e-mail"
                    autocomplete="email" required="" id="id_login">
                <div class="invalid-feedback">
                    Please fill in your username or email address.
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <div class="mx-auto mb-2">
                <button class="h6 button primaryAction" type="submit">Sign In</button>
            </div>
            <a id="signinbtn" class="secondaryAction text-decoration-none"
                href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </form>

    </div>

</div>

{% endblock %}