{% extends "base-template.html" %}

{% load account %}

{% block content %}


<div class="container mx-auto d-flex mainsection tbgbodywidth">
    <div class="row flex-column justify-content-center h4">

        <div class="tbgbigh1"> Password Reset </div>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="py-3">
            <p>We have sent you an e-mail. Please contact us if you do not receive it within a few
                minutes.</p>
        </div>
    </div>
</div>
{% endblock %}