{% extends "base-template.html" %}
{% load static %}

{% load account %}

{% block content %}
<div class="container mx-auto tbgbodywidth d-flex flex-column justify-content-center h-75">
    <div class="row flex-column justify-content-center h4 mx-auto">
        <div class="tbgbigh1"> Password Reset </div>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <div class="py-3">
            <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to
                reset it.</p>
        </div>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset needs-validation"
            novalidate>
            {% csrf_token %}
            {% for field in form %}
            {% if field.label == 'E-mail' %}
            <div class="form-group">
                <label for="email">Type in your email address:</label>
                <input type="email" class="form-control" name="email" placeholder="E-mail address" autocomplete="email"
                    required="" id="id_email">
                <div class="h6 tbgfielderror pt-1">
                    {{field.errors}}
                </div>
                <div class="invalid-feedback">
                    This field is required or is missing @
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <input class="h6 button" type="submit" value="Reset My Password" />
        </form>
        <div class="pt-3">
            <p>Please contact us if you have any trouble resetting your password.</p>
        </div>

    </div>
</div>
{% endblock %}