{% extends 'base-template.html' %}
{% load static %}

{% block content %}



<div class="container mx-auto my-5 mainsection" id="accountlogin">
    <div class="row">

        <div class="col-6 pt-2 d-flex border border-right-0 justify-content-center">
            <a href="{% url 'account_login' %}">
                <h5>Sign In</h5>
            </a>
        </div>
        <div class="col-6 pt-2 d-flex border border-bottom-0 justify-content-center tbgbkg">
            <h5>Register</h5>
        </div>

    </div>
    <div class="row border border-top-0 justify-content-center tbgbkg h5">
        <form class="signup my-3 w-75 needs-validation" id="signup_form" method="post"
            action="{% url 'account_signup' %}" novalidate>
            {% csrf_token %}
              {{ form.as_p }}


            <div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="h6 button" type="submit">Sign up</button>
            </div>

        </form>

    </div>

</div>

{% endblock %}