{% extends "base-template.html" %}
{% load static %}
{% block content %}
<div class="container my-4 mainsection">
    <div class="row justify-content-center">
        <h1>My Account Info</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <ul class="nav flex-column bg-light border" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">

                    <a class="nav-link" id="acc-detail-tab" data-toggle="tab" href="#acc-detail" role="tab"
                        aria-controls="acc-detail" aria-selected="true">
                        <h5>Account Details</h5>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                        aria-controls="orders" aria-selected="false">
                        <h5>Orders History</h5>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="tab-content">
                <div class="tab-pane fade show " id="acc-detail" role="tabpanel" aria-labelledby="acc-detail-tab">
                    <form method="post">
                        {% csrf_token %}
                        {% for form in user_form %}
                        <div class="form-group">
                            <label class="h4" for="{{ form.label}}"> {{ form.label|title}} </label>
                            {% if form.label == "First name" %}
                            <input class="form-control" type="text" name="first_name" value="{{form.value}}"
                                maxlength="150" id="id_first_name">
                            {% elif form.label == "Last name" %}
                            <input class="form-control" type="text" name="last_name" value="{{form.value}}"
                                maxlength="150" id="id_last_name">
                            {% elif form.label == "Email address" %}
                            <input class="form-control" type="email" name="email" value="{{form.value}}" maxlength="254"
                                id="id_email">
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% for form in password_change_form %}
                        {% if form.label == "Old password" %}
                        <label class="h4" for="{{ form.label}}">Current Password</label>
                        <input class="form-control" type="password" name="old_password" autocomplete="current-password"
                            autofocus="" required="" id="id_old_password">
                        {% else %}
                        <label class="h4" for="{{ form.label}}"> {{ form.label|title}} </label>
                        {% if form.label == "New password" %}
                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password"
                            required="" id="id_new_password1">
                        {% else %}
                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password"
                            required="" id="id_new_password2">
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% for form in userinfo_form %}
                        <div class="form-group">
                            <label class="h4" for="{{ form.label}}"> {{ form.label|title}} </label>
                            <input type="date" class="form-control" name="date_of_birth"
                                value="{{form.value|date:'Y-m-d'}}" id="id_date_of_birth">
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">

                    {% for order in orders %}
                    <div class="jumbotron">
                        <h1 class="display-5">{{order.title}} ordered on: {{order.datetime_ordered}} </h1>
                        <hr class="my-4">
                        <p class="lead">Price: SGD${{order.price}} Qty: {{order.qty}}</p>
                        {% if reviews|length != 0 %}
                        {% for review in reviews %}
                            {% if review.order.id != order.id%}
                            <a class="btn btn-primary btn-lg" href="{% url 'write_review' order_id=order.id %}"
                                role="button">Write a review</a>
                            {% else %}
                            <h5>You have reviewed this order on {{review.date}}.</h5>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            <a class="btn btn-primary btn-lg" href="{% url 'write_review' order_id=order.id %}"
                            role="button">Write a review</a>
                        {% endif %}
                    </div>
                    {% endfor %}



                </div>
                <div class="tab-pane fade" id="fav" role="tabpanel" aria-labelledby="fav-tab">...</div>
            </div>

        </div>

    </div>

</div>

{% endblock %}