{% extends "base-template.html" %}
{% load static %}
{% block content %}
<div class="container my-4 mainsection">
    <div class="row justify-content-center mt-3">
        <div class="col-2">
            <ul class="nav flex-column h3 text-decoration-none text-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="acc-detail-tab" data-toggle="tab" href="#acc-detail" role="tab"
                        aria-controls="acc-detail" aria-selected="true">
                        Account Details
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                        aria-controls="orders" aria-selected="false">
                        Orders History
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="orders-tab" data-toggle="tab" href="#reviews" role="tab"
                        aria-controls="orders" aria-selected="false">
                        Reviews History
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="tab-content w-75 mx-auto">
                <div class="tab-pane tbgbkg shadow fade show " id="acc-detail" role="tabpanel" aria-labelledby="acc-detail-tab">
                    <form method="post" class="needs-validation p-5" novalidate>
                        {% csrf_token %}
                        {% for field in user_form %}
                        <div class="form-group">
                            <label class="h4" for="{{ form.label}}"> {{ field.label|title}} </label>
                            {% if field.label == "First name" %}
                            <input class="form-control" type="text" name="first_name" value="{{field.value}}"
                                maxlength="150" required="" id="id_first_name">
                            <div class="h6 tbgfielderror pt-1">
                                {{field.errors}}
                            </div>
                            <div class="invalid-feedback">
                                This field is required
                            </div>
                            {% elif field.label == "Last name" %}
                            <input class="form-control" type="text" name="last_name" value="{{field.value}}"
                                maxlength="150" required="" id="id_last_name">
                            <div class="h6 tbgfielderror pt-1">
                                {{field.errors}}
                            </div>
                            <div class="invalid-feedback">
                                This field is required
                            </div>
                            {% elif field.label == "Email address" %}
                            <input class="form-control" type="email" name="email" value="{{field.value}}"
                                maxlength="254" required="" id="id_email">
                            <div class="h6 tbgfielderror pt-1">
                                {{field.errors}}
                            </div>
                            <div class="invalid-feedback">
                                This field is required
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% for field in password_change_form %}
                        {% if field.label == "Old password" %}
                        <label class="h4" for="{{ field.label}}">Current Password</label>
                        <input class="form-control" type="password" name="old_password" autocomplete="current-password"
                            autofocus="" required="" id="id_old_password">
                        <div class="h6 tbgfielderror pt-1">
                            {{field.errors}}
                        </div>
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                        {% else %}
                        <label class="h4" for="{{ field.label}}"> {{ field.label|title}} </label>
                        {% if field.label == "New password" %}
                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password"
                            required="" id="id_new_password1">
                        <div class="h6 tbgfielderror pt-1">
                            {{field.errors}}
                        </div>
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                        {% else %}
                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password"
                            required="" id="id_new_password2">
                        <div class="h6 tbgfielderror pt-1">
                            {{field.errors}}
                        </div>
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% for field in userinfo_form %}
                        <div class="form-group">
                            <label class="h4" for="{{ field.label}}"> {{ field.label|title}} </label>
                            <input type="date" class="form-control" name="date_of_birth"
                                value="{{field.value|date:'Y-m-d'}}" required="" id="id_date_of_birth">
                            <div class="h6 tbgfielderror pt-1">
                                {{field.errors}}
                            </div>
                            <div class="invalid-feedback">
                                This field is required
                            </div>
                        </div>
                        {% endfor %}
                        <button class="h4 button" type="submit">Save changes</button>
                    </form>
                </div>
                <div class="tab-pane fade shadow" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                    {% if orders %}
                    {% for order in orders %}
                    {% for plant in plants %}
                    {% if order.plant_id == plant.id %}
                    <div class="jumbotron my-0" style="background-color: #fffaf0;">
                        <h2 class="display-5">ORDER REFENCE NO.:
                            SG-{{order.id}}-{{order.datetime_ordered|date:'Ymd'}}</h2>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-md-2 text-center p-0">
                                <img src="{{plant.image}}" class="w-50" alt="plant image">
                            </div>
                            <div class="col-md-10">
                                <div class="row h4">
                                    {{order.title}} ordered on: {{order.datetime_ordered}}
                                </div>
                                <div class="row h4">
                                    Total spent: SGD ${{order.price|floatformat:2}}
                                </div>
                                <div class="row h4">
                                    Qty ordered: {{order.qty}}
                                </div>
                            </div>
                        </div>
                        <hr class="my-2">
                        {% if  order.id in reviewed_plant_order_ids_dict.reviewed_order_ids %}
                        <h5>You have reviewed this order.</h5>
                        {% else %}
                        <a class="h4 button text-decoration-none" href="{% url 'write_review' order_id=order.id %}"
                            role="button">Write a review</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}

                    {% else %}
                    <div class="tbgbigh1">
                        <p>There are no orders history.</p>
                    </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade shadow" id="reviews" role="tabpanel" aria-labelledby="fav-tab">
                    {% if reviewed_by_user %}
                    {% for review in reviewed_by_user %}
                    <div class="row tbgbkg py-2">
                        <div class="col-12 h5">
                            <span class="fa fa-star {% if review.rating >= 1 %} starchecked {% endif %}"></span>
                            <span class="fa fa-star {% if review.rating >= 2 %} starchecked {% endif %}"></span>
                            <span class="fa fa-star {% if review.rating >= 3 %} starchecked {% endif %}"></span>
                            <span class="fa fa-star {% if review.rating >= 4 %} starchecked {% endif %}"></span>
                            <span class="fa fa-star {% if review.rating >= 5 %} starchecked {% endif %}"></span>
                            {{review.date}}
                        {{review.title}}   
                        </div>
                        <div class="w-100"></div>
                        <div class="col-12 h2">
                            <p>"{{review.content}}"</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else  %}
                    <div class="tbgbigh1">
                        <p></p>There are no reviews history.</p>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}