* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;;
    color:saddlebrown;

}

html,body{
    height: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
    background-color: #FFFAF0;
}

.mainsection{
    flex: 1 0 auto;
}

.sloganpage{
    background-image: url('/static/images/landingpage-cover.png');
}

.navbar {
    height: 15vh;
    background-color: #FFFAF0;
}

.navbaricon:hover {
    /* background-bor: #3cb371; */
    border-width: 3px;
    border-radius: 10px;
    /* color: white; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

#shopnow {
    background-color: white;
    opacity: 70%;
    color: #3cb371;
    border-radius: 1rem;
}

.msg {
    margin: 0 !important;
    margin-bottom: 4px !important;
    margin-top: 4px !important;
}
.flash-messages {
    z-index: 2000;
    position: fixed;
    right: 2em;
    margin-top: -1em;
    list-style: none;
    text-align: right;
    top: 10px;
}
.alert {
    margin-top: 1rem;
}
.alert-error {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}


/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap
 Small devices (landscape phones, 576px and up) */
@media (min-width: 539px) {
    #accountlogin {
        width: 60vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #accountlogin {
        width: 50vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #accountlogin {
        width: 40vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #accountlogin {
        width: 30vw;
    }
}