* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;;

}

html {
    font-size: 12px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 15vh;
    width: 100%;
    background-color: #FFFAF0;
}

.navbar {
    height: 15vh;
    background-color: #FFFAF0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}



/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap
 Small devices (landscape phones, 576px and up) */
@media (min-width: 539px) {
    #accountlogin {
        width: 60vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #accountlogin {
        width: 50vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #accountlogin {
        width: 40vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #accountlogin {
        width: 30vw;
    }
}