{% extends 'base-template.html' %}
{% load static %}
{% block content %}
<div class="container mainsection d-flex justify-content-center">
  <div class="media align-items-center">
    <img src="{% static 'images/TBGsBrandlogo.svg' %}" class="mr-3" style="height: 60%;" alt="TBGsLogo">
    <div class="media-body">
      <h1 class="mt-0">The Brilliant Greens</h1>
      <p class="h3">
        Being orignated from a country known as Garden City, the Singapore based e-commerce shop aims to
        create a greenery home for everyone. As the name of the shop said, the brilliants green of plant brings in the aura
        of nature that will make any urban environment feels more greenery than ever. Every plant 
        selling in the ecommerce shop is sourced from local nursery to support locals and ensure that the plant is at its
        healthest.
      </p>
    </div>
  </div>
</div>
{% endblock %}