{% extends 'base-template.html' %}
{% load static %}
{% block content %}
<div class="container mainsection d-flex justify-content-center">
    <div class="row align-items-center">
        {% for plant in plants%}
        <a href="{% url 'product_page' plant_id=plant.id %}" class="text-decoration-none">
            <div class="col-sm-12 col-lg-3">
                <div class="card" style="width: 18rem; background-color:#fffaf0">
                    <img src="{{ plant.image }}" class="card-img-top" alt="...">
                    <div class="card-body p-0 pt-1 text-center">
                        <h5 class="card-title">{{plant.name}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color:#fffaf0">
                            <div class="row">
                                <div class="col-12">
                                    <h5>
                                        {% if plant.rating > 0 %}
                                        <span class="fa fa-star {% if plant.rating >= 1 %} starchecked {% endif %}"></span>
                                        <span class="fa fa-star {% if plant.rating >= 2 %} starchecked {% endif %}"></span>
                                        <span class="fa fa-star {% if plant.rating >= 3 %} starchecked {% endif %}"></span>
                                        <span class="fa fa-star {% if plant.rating >= 4 %} starchecked {% endif %}"></span>
                                        <span class="fa fa-star {% if plant.rating >= 5 %} starchecked {% endif %}"></span>
                                        ({{ plant.rating|floatformat:2 }})
                                        {% else %}
                                        No ratings yet.
                                        {% endif %}
                                    </h5>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-3 iconreviews" title="Total no. of reviews">
                                </div>
                                <div class="col-9">
                                    <h5>
                                        {% if plant.reviews > 0 %}
                                        {{ plant.reviews}}
                                        {% else %}
                                        No reviews yet.
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color:#fffaf0">
                            <div class="row">
                                <div class="col-3
                                    {% if plant.watering == 'Low' %}
                                    iconlowwatering
                                    {% elif plant.watering == 'Medium' %}
                                    iconmidwatering
                                    {% elif plant.watering == 'High' %}
                                    iconhighwatering
                                    {% endif %}                                    
                                    "
                                    title = "
                                    {% if plant.watering == 'Low' %}
                                    Low watering
                                    {% elif plant.watering == 'Medium' %}
                                    Medium watering
                                    {% elif plant.watering == 'High' %}
                                    High watering
                                    {% endif %}  "
                                    
                                    >
                                </div>
                                <div class="col-3
                                    {% if plant.sunlight == 'No_Shade' %}
                                    iconnoshade
                                    {% elif plant.sunlight == 'Half_Shade' %}
                                    iconhalfshade
                                    {% elif plant.sunlight == 'Full_Shade' %}
                                    iconfullshade
                                    {% endif %}                                    
                                    "
                                    title = "
                                    {% if plant.sunlight == 'No_Shade' %}
                                    Direct sunlight
                                    {% elif plant.sunlight == 'Half_Shade' %}
                                    Direct sunlight under shade
                                    {% elif plant.sunlight == 'Full_Shade' %}
                                    Indrect sunlight
                                    {% endif %}  "
                                    >
                                </div>
                                <div class="col-6 h6">
                                    {{plant.level}}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color:#fffaf0">
                            <div class="row">
                                <div class="col-4">
                                    <h5>${{plant.price|floatformat:2}}</h5>
                                </div>
                                <div class="col-8">
                                    <h5>Qty in stock: {{plant.qty}}</h5>
                                    {% if plant.qty <= 3 %}
                                    <h6 style="color:tomato">(running low)</h6>
                                    {% endif %}      
                                </div>
                                <div class="w-100">
                                </div>
                                <div class="col-12 text-center">
                                    {% if not cart.shopping_cart %}
                                        {% for key, item in cart.items %}
                                            {% if plant.id == item.id|add:"0" %}
                                                {% if item.qty < 5 %} 
                                                    <p>
                                                    </p>
                                                {% else %}
                                                    <h6>Limit to 5 per user!</h6>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body btn addcartbtn">
                            <a href="{% url 'add_to_cart' plant_id=plant.id  %}"
                            class="text-decoration-none">
                            <h4 class="text-center" style="color:white;">Add to cart</h4>
                        </a>                   
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock %}