{% extends 'base-template.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mainsection d-flex justify-content-center">
    <div class="row align-items-center justify-content-center">
        {% for plant in plants%}
        <div class="col-md-auto col-auto py-2">
            <div class="card shadow tbgbkg" style="width: 18rem;">
                <a href="{% url 'product_page' plant_id=plant.id %}" class="tbgatag">

                    <img src="{{ plant.image }}" class="card-img-top tbgshpgimgheight" alt="...">
                    <div class="card-body p-0 pt-1 text-center">
                        <h5 class="card-title">{{plant.name}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-1 tbgbkg">
                            <div class="row">
                                <div class="col-12">
                                    <h5>
                                        {% if plant.rating > 0 %}
                                        <span
                                            class="fa fa-star {% if plant.rating >= 1 %} starchecked {% endif %}"></span>
                                        <span
                                            class="fa fa-star {% if plant.rating >= 2 %} starchecked {% endif %}"></span>
                                        <span
                                            class="fa fa-star {% if plant.rating >= 3 %} starchecked {% endif %}"></span>
                                        <span
                                            class="fa fa-star {% if plant.rating >= 4 %} starchecked {% endif %}"></span>
                                        <span
                                            class="fa fa-star {% if plant.rating >= 5 %} starchecked {% endif %}"></span>
                                        ({{ plant.rating|floatformat:2 }})
                                        {% else %}
                                        No ratings yet.
                                        {% endif %}
                                    </h5>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-3  col-5 iconreviews" title="Total no. of reviews">
                                </div>
                                <div class="col-md-9 col-7">
                                    <h5>
                                        {% if plant.reviews > 0 %}
                                        {{ plant.reviews}}
                                        {% else %}
                                        No reviews yet.
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item tbgbkg">
                            <div class="row">
                                <div class="col-md-3 col-3
                                            {% if plant.watering == 'Low' %}
                                            iconlowwatering
                                            {% elif plant.watering == 'Medium' %}
                                            iconmidwatering
                                            {% elif plant.watering == 'High' %}
                                            iconhighwatering
                                            {% endif %}                                    
                                            " title="
                                            {% if plant.watering == 'Low' %}
                                            Low
                                            {% elif plant.watering == 'Medium' %}
                                            Medium
                                            {% elif plant.watering == 'High' %}
                                            High
                                            {% endif %}  ">
                                </div>
                                <div class="col-md-3 col-3
                                            {% if plant.sunlight == 'No_Shade' %}
                                            iconnoshade
                                            {% elif plant.sunlight == 'Half_Shade' %}
                                            iconhalfshade
                                            {% elif plant.sunlight == 'Full_Shade' %}
                                            iconfullshade
                                            {% endif %}                                    
                                            " title="
                                            {% if plant.sunlight == 'No_Shade' %}
                                            Direct sunlight
                                            {% elif plant.sunlight == 'Half_Shade' %}
                                            Direct sunlight under shade
                                            {% elif plant.sunlight == 'Full_Shade' %}
                                            Indrect sunlight
                                            {% endif %}  ">
                                </div>
                                <div class="col-md-6 col-6 h6">
                                    {{plant.level}}
                                </div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center list-group-item tbgshpgheight tbgbkg">
                            <div class="row">
                                <div class="col-md-4 col-4 py-0">
                                    <h5>${{plant.price|floatformat:2}}</h5>
                                </div>
                                <div class="col-md-8 col-8 py-0">
                                    {% if plant.qty > 3 %}
                                    <h5 class="m-0">Qty in stock: {{plant.qty}}</h5>
                                    {% elif  plant.qty <= 0 %}
                                    <h5 class="m-0">Qty in stock: 0</h5>
                                    <h6 class="m-0" style="color:tomato">(out of stock)</h6>
                                    {% elif plant.qty <= 3 and plant.qty > 0 %}
                                    <h5 class="m-0">Qty in stock: {{plant.qty}}</h5>
                                    <h6 class="m-0" style="color:tomato">(running low)</h6>
                                    {% endif %}
                                </div>
                                <div class="w-100">
                                </div>
                                <div class="col-12 h6 text-center tbgfielderror">
                                    {% if not cart.shopping_cart %}
                                    {% for key, item in cart.items %}
                                    {% if plant.id == item.id|add:"0" %}
                                    {% if  item.qty < 6 %}
                                    {% else %}
                                    Limit to 5 per user!
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    </ul>
                </a>

                {% if plant.qty == 0 %}
                <div class="card-body button">
                    <button class="text-center h4 text-decoration-none" style="color:white; opacity:40%" disabled>Add To Cart</button>
                </div>
                {% else %}
                <div class="card-body button">
                    <a href="{% url 'add_to_cart' plant_id=plant.id  %}" class="text-decoration-none">
                        <h4 class="text-center" style="color:white;">Add To Cart</h4>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}